<div class="login-container">
  <mat-card>
    <mat-card-title 
      style="margin: 20px auto 20px auto; color: rgb(68, 5, 105);" 
      class="fw-bold">
      Iniciar Sesión
    </mat-card-title>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
          <mat-label>Usuario</mat-label>
          <mat-icon matPrefix>person</mat-icon>
          <input matInput [(ngModel)]="credenciales.usuario" 
            name="usuario" required />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Clave</mat-label>
          <mat-icon matPrefix>key</mat-icon>
          <input matInput type="password" [(ngModel)]="credenciales.clave" 
            name="clave" required />
        </mat-form-field>

        <div style="text-align: center;">
          <button mat-raised-button color="primary" type="submit" 
            [disabled]="loginForm.invalid">
            Ingresar
          </button>
        </div>
      </form>
    </mat-card-content>
    
    <mat-card-actions style="text-align: center; margin-top: 15px;">
      <button  mat-button color="accent" (click)="irARegistro()">¿Aún no tienes cuenta? Regístrate aquí</button>
    </mat-card-actions>
    
  </mat-card>
</div>

<router-outlet ></router-outlet>